In [50]:
import nltk
import pandas as pd
import numpy as np

In [51]:
reviews = pd.read_csv(r"C:\__project\evaluation_of_reviews\reviews.csv", index_col=0)
reviews

                                                review  assessment
0    Игра, в которой победить может даже злодей. От...        True
1    Обалденная игра для компании. Помогает разнооб...        True
2    Весёлая настольная игра для компании, которая ...        True
3    Общие впечатления Игра огонь даже для взрослог...        True
4    Случайно наткнулся на эту игрушку в детском ми...        True
..                                                 ...         ...
96   Ерунда полная! Половина больших бакуганов не т...       False
97   Ужасное качество фишек , древесина (загатовка ...       False
98   Инструкция к детской игре должна предполагать,...       False
99   Покупали шар головоломку, намного интереснее и...       False
100  У нас в 90-00 лучше были. Мало того, что я чут...       False

[101 rows x 2 columns]

In [52]:
extra_reviews = pd.read_csv(r"extra_reviews.csv", index_col=0)
extra_reviews

                                                  review  assessment
0      Спешл эдишн дали халявно, т.к. ранее покупал о...        True
1      Моя самая любимая игра!Игра интересна тем что,...        True
2                  ИГРА ПРОСТО КАК ТЕС ОЧЕНЬ ДАЖЕ ПЕРВАЯ        True
3                     Игра просто бомба, рекомендую всем        True
4      очень хорошая игра, если не играли то очень со...        True
...                                                  ...         ...
33583              Тук тук! кто там? а это мой 2007 год.       False
33586  Вот не знаю, что её так ругают, по мне - доста...        True
33588  3яя была отличной, а эта - халтура. Таких дене...       False
33593  песочница в котрой развлекаешь себя сам,в перв...        True
33594  Спасибо за игру.Если меня спросят,когда меня т...       False

[23802 rows x 2 columns]

In [53]:
data = pd.concat([reviews, extra_reviews]).reset_index(drop=True)
data

                                                  review  assessment
0      Игра, в которой победить может даже злодей. От...        True
1      Обалденная игра для компании. Помогает разнооб...        True
2      Весёлая настольная игра для компании, которая ...        True
3      Общие впечатления Игра огонь даже для взрослог...        True
4      Случайно наткнулся на эту игрушку в детском ми...        True
...                                                  ...         ...
23898              Тук тук! кто там? а это мой 2007 год.       False
23899  Вот не знаю, что её так ругают, по мне - доста...        True
23900  3яя была отличной, а эта - халтура. Таких дене...       False
23901  песочница в котрой развлекаешь себя сам,в перв...        True
23902  Спасибо за игру.Если меня спросят,когда меня т...       False

[23903 rows x 2 columns]

In [54]:
data['assessment'].value_counts()

assessment
True     20227
False     3676
Name: count, dtype: int64

In [55]:
from sklearn.preprocessing import LabelEncoder

enc = LabelEncoder()
label = enc.fit_transform(data['assessment'])
label

array([1, 1, 1, ..., 0, 1, 0], dtype=int64)

In [56]:
processed = data['review'].str.lower()
processed

0        игра, в которой победить может даже злодей. от...
1        обалденная игра для компании. помогает разнооб...
2        весёлая настольная игра для компании, которая ...
3        общие впечатления игра огонь даже для взрослог...
4        случайно наткнулся на эту игрушку в детском ми...
                               ...
23898                тук тук! кто там? а это мой 2007 год.
23899    вот не знаю, что её так ругают, по мне - доста...
23900    3яя была отличной, а эта - халтура. таких дене...
23901    песочница в котрой развлекаешь себя сам,в перв...
23902    спасибо за игру.если меня спросят,когда меня т...
Name: review, Length: 23903, dtype: object

In [57]:
from nltk.corpus import stopwords

nltk.download("stopwords")
stop_words = set(stopwords.words("russian"))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\vlads\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [58]:
processed = processed.apply(lambda x: ' '.join(term for term in x.split() if term not in stop_words))
ps = nltk.PorterStemmer()
processed = processed.apply(lambda x: ' '.join(ps.stem(term) for term in x.split()))

processed

0        игра, которой победить злодей. отличное карточ...
1        обалденная игра компании. помогает разнообрази...
2        весёлая настольная игра компании, которая раск...
3        общие впечатления игра огонь взрослого. питани...
4        случайно наткнулся игрушку детском мире. учиты...
                               ...
23898                          тук тук! там? это 2007 год.
23899    знаю, её ругают, - достаточно яркое взрывное д...
23900      3яя отличной, эта - халтура. таких денег стоит.
23901    песочница котрой развлекаешь сам,в первые долг...
23902    спасибо игру.если спросят,когда тошнило послед...
Name: review, Length: 23903, dtype: object

In [59]:
from nltk.tokenize import RegexpTokenizer

tokenizer = RegexpTokenizer(r"\w+")
processed = processed.apply(lambda x: ' '.join(tokenizer.tokenize(x)))
processed

0        игра которой победить злодей отличное карточно...
1        обалденная игра компании помогает разнообразит...
2        весёлая настольная игра компании которая раскр...
3        общие впечатления игра огонь взрослого питание...
4        случайно наткнулся игрушку детском мире учитыв...
                               ...
23898                             тук тук там это 2007 год
23899    знаю её ругают достаточно яркое взрывное дейст...
23900           3яя отличной эта халтура таких денег стоит
23901    песочница котрой развлекаешь сам в первые долг...
23902    спасибо игру если спросят когда тошнило послед...
Name: review, Length: 23903, dtype: object

In [61]:
from nltk.tokenize import word_tokenize
nltk.download('punkt_tab')
all_words = []

for text in processed:
    words = word_tokenize(text)
    for w in words:
        all_words.append(w)

all_words = nltk.FreqDist(all_words)

# Print the result
print('Number of words: {}'.format(len(all_words)))
print('Most common words: {}'.format(all_words.most_common(15)))
word_features = [x[0] for x in all_words.most_common(2000)]

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\vlads\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

Number of words: 54658
Most common words: [('игра', 11938), ('10', 5099), ('это', 3862), ('очень', 3598), ('игру', 2510), ('игры', 1934), ('просто', 1930), ('играть', 1618), ('игре', 1363), ('рекомендую', 1312), ('хорошая', 1253), ('то', 1186), ('советую', 1167), ('всем', 1133), ('отличная', 1128)]

In [62]:
def find_features(text):
    words = word_tokenize(text)
    features = {}
    for word in word_features:
        features[word] = (word in words)

    return features

In [63]:
messages = list(zip(processed, label))

np.random.seed(1)
np.random.shuffle(messages)

# Call find_features function
feature_set = [(find_features(text), label) for (text, label) in messages]

In [64]:
from sklearn.model_selection import train_test_split

training, test = train_test_split(feature_set, test_size=0.25, random_state=1)

print(len(training))
print(len(test))

17927
5976

In [65]:
from nltk.classify.scikitlearn import SklearnClassifier
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB()

In [66]:
test_model = SklearnClassifier(MultinomialNB()).train(training)

In [67]:
from sklearn.metrics import classification_report, confusion_matrix

text_features, labels = zip(*test)
prediction = test_model.classify_many(text_features)

print(classification_report(labels, prediction))

              precision    recall  f1-score   support

           0       0.61      0.52      0.56       883
           1       0.92      0.94      0.93      5093

    accuracy                           0.88      5976
   macro avg       0.77      0.73      0.75      5976
weighted avg       0.87      0.88      0.88      5976

In [68]:
pd.DataFrame(confusion_matrix(labels, prediction),
             index=[['actual', 'actual'], ['positive', 'negative']],
             columns = [['predicted', 'predicted'], ['positive', 'negative']])

                predicted
                 positive negative
actual positive       463      420
       negative       294     4799

In [69]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(max_iter=100)
rfc_model = SklearnClassifier(clf).train(training)

In [70]:
text_features, labels = zip(*test)
prediction = rfc_model.classify_many(text_features)

print(classification_report(labels, prediction))

pd.DataFrame(confusion_matrix(labels, prediction),
             index=[['actual', 'actual'], ['positive', 'negative']],
             columns = [['predicted', 'predicted'], ['positive', 'negative']])

              precision    recall  f1-score   support

           0       0.70      0.43      0.53       883
           1       0.91      0.97      0.94      5093

    accuracy                           0.89      5976
   macro avg       0.80      0.70      0.73      5976
weighted avg       0.88      0.89      0.88      5976

                predicted
                 positive negative
actual positive       377      506
       negative       161     4932

In [73]:
import pickle

with open(
    r"naive_bayes_classifier.pickle", "wb"
) as classifier_file:
    pickle.dump(test_model, classifier_file)

In [74]:
with open(r"logistic_regression_classifier.pickle", "wb") as classifier_file:
    pickle.dump(rfc_model, classifier_file)

In [78]:
classes = {0: 'negative', 1: 'positive'}
n1 = test_model.classify(
    find_features("Ужасная, зря потратил деньги мне не понравилась, ненавижу её")
)
n2 = test_model.classify(find_features("Хорошая игра, мне очень понравилась, люблю её"))
n3 = test_model.classify(
    find_features("Ужасная, зря потратил деньги мне не понравилась, ненавижу её")
)
n4 = test_model.classify(find_features("Хорошая игра, мне очень понравилась, люблю её"))
for n in [n1, n2, n3, n4]:
    print(classes[n])

negative
positive
negative
positive

In [ ]:
# from nltk.classify.scikitlearn import SklearnClassifier
# from sklearn.neighbors import KNeighborsClassifier
# from sklearn.tree import DecisionTreeClassifier
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.linear_model import LogisticRegression, SGDClassifier
# from sklearn.naive_bayes import MultinomialNB
# from sklearn.svm import SVC
# from sklearn.metrics import classification_report, confusion_matrix

# names = ['K Nearest Neighbors', 'Decision Tree', 'Random Forest', 'Logistic Regression', 'SGD Classifier',
#          'Naive Bayes', 'Support Vector Classifier']

# classifiers = [
#     KNeighborsClassifier(),
#     DecisionTreeClassifier(),
#     RandomForestClassifier(),
#     LogisticRegression(),
#     SGDClassifier(max_iter=100),
#     MultinomialNB(),
#     SVC(kernel='linear')
# ]

# models = zip(names, classifiers)

# for name, model in models:
#     nltk_model = SklearnClassifier(model)
#     nltk_model.train(training)
#     accuracy = nltk.classify.accuracy(nltk_model, test)
#     print("{} model Accuracy: {}".format(name, accuracy))

In [ ]:
# from sklearn.ensemble import VotingClassifier

# # Since VotingClassifier can accept list type of models
# models = list(zip(names, classifiers))

# nltk_ensemble = SklearnClassifier(VotingClassifier(estimators=models, voting='hard', n_jobs=-1))
# nltk_ensemble.train(training)
# accuracy = nltk.classify.accuracy(nltk_ensemble, test)
# print("Voting Classifier model Accuracy: {}".format(accuracy))

In [ ]:
# text_features, labels = zip(*test)
# prediction = nltk_ensemble.classify_many(text_features)

# print(classification_report(labels, prediction))

In [ ]:
# pd.DataFrame( confusion_matrix(labels, prediction),
#              index=[['actual', 'actual'], ['positive', 'negative']],
#              columns = [['predicted', 'predicted'], ['positive', 'negative']])

In [ ]:
# test_model = SklearnClassifier(MultinomialNB()).train(training)
# accuracy = nltk.classify.accuracy(test_model, test)
# test_model.classify(find_features())